/* Clusters */
.clusters rect {
  stroke: lightgrey;
  /* stroke-dasharray: 20,20; */
  stroke-width: 10px;
  transition: stroke-width 1s;
  transition: opacity 0.3s;
  pointer-events: none;
}

.clusters text {
 font-size: 50px !important;
 font-weight:bold;
 opacity: 0.6;
 cursor:pointer;
 transition: fill 0.1s;
 transition: opacity 0.3s;
}


.cluster.unselected rect {
  /* stroke-dasharray: 20,20; */
}

.cluster.selected rect {
  stroke-dasharray: 0;
  stroke-width: 10px
}

.cluster.unselected text {
  font-weight: normal;
}

.cluster.selected text {
  opacity: 1;
}

/* Nodes */

.dummy.node rect{
  stroke: gray;
  /* stroke-dasharray: 20,20; */
  stroke-width: 10px;
  transition: stroke-width 1s;
  transition: opacity 0.3s;
  pointer-events: none;
  stroke-opacity:1;
}

.dummy.node text{
  font-size: 50px;
  opacity: 0.6;
  font-weight:bold;
  cursor:pointer;
  transition: fill 0.1s;
  transition: opacity 0.3s;
}

.node.selected rect.nodeRect {
  stroke:#ff5b5b;
  stroke-opacity: 1;
  fill: #f4db69 !important;
  stroke-width: 5px;
}

.node text {
  pointer-events:none;
}

.node rect {
  stroke:black;
  stroke-opacity: 0.4;
  fill: #fff;
  stroke-width: 3px;
  cursor: pointer;
  fill-opacity: 1;

  transition: fill 0.5s ease, stroke 0.5s, stroke-width 0.5s, stroke-opacity 0.5s !important;
}

/* Edges */
.edgePath path {
  fill:none; 
  stroke: #929db5; 
  stroke-width: 3px; 
  stroke-dasharray: 10,10;
  transition: stroke 0.5s, stroke-dasharray 0.5s !important;
}

.edgePath marker path {
  fill:#929db5; 
  transition: stroke 0.5s, fill 0.5s !important;
}

.edgePath.selected path.path {
  fill: none !important;
  stroke: #ff5b5b !important;
  stroke-dasharray: none !important;
}

.edgePath.selected marker path {
  stroke:#ff5b5b !important;
  fill:#ff5b5b !important;
}

/* General */
text {
  font-weight: 300;
  /* font-family: Verdana, Geneva, sans-serif; */
  font-family: Rajdhani;
  font-size: 38px;
}

rect:focus{
  outline:none;
}

button:focus{
  outline:none;
}

/* Dropdown */
.drop-down_container{
  stroke: #424242;
  fill: #424242;
}

.drop-down_item {
  stroke: none;
  fill: gray;
  opacity: 0;
}

.drop-down_item_text {
  font-size: 38px;
  fill: white;
  stroke: none;
  opacity: 0;
}

.drop-down_arrow {
  fill:#2c4c66;
  stroke-width:1px;
  stroke:#2c4c66;
  pointer-events:none;
}
