.test .menu-button:hover{
    background-color:lightgray !important;
}

.query-loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    z-index: 1050;
    position: absolute;
    left: 50%;
    top: 50%;
}

@keyframes spin {
    0% { transform: translate(-60px,-60px) rotate(0deg); }
    100% { transform: translate(-60px,-60px) rotate(360deg); }
}

.query-loader-background {
    background-color: black !important;
    opacity: 0.3 !important;
    width: 100%;
    height: 100%;
    z-index: 949 !important;
    position: absolute;
}

.menu-button.selected {
    background-color: lightgray !important;
    color: black !important;
}

.side-bar {
    background-color:lightgray;
    width:37%;
    right:0;
    padding-right:0px;
}

.side-bar-question-base {
    padding-left: 30px; 
    padding-right: 30px; 
    padding-top: 20px;
    padding-bottom: 20px;
    margin:0px; 
    margin-bottom:30px; 
    background-color:#636363;
    width:100%;
    float:left;
}

.logical .side-bar-question-base h2 {
    color:#e1f6f7
}

.pattern .side-bar-question-base h2 {
    color:#e5f7e1
}

.functional .side-bar-question-base h2{
    color:#ffeff5
}

.side-bar-text-base {
    padding-left: 30px; 
    padding-right: 30px;
}

.side-bar-toggle {
    position:absolute;
    height:100%;
    width:5px;
    float:left;
}

.side-bar-toggle-button-wrapper {
    position:absolute;
    height:50%;
    width:10px;
    top:0;
    bottom:0;
    margin:auto;
}

.side-bar-tab.selected.logical {
    color:#e1f6f7 !important;
}

.side-bar-tab.selected.pattern {
    color:#e5f7e1 !important;
}

.side-bar-tab.selected.functional {
    color:#ffeff5 !important;
}

.side-bar-tab.selected {
    background-color: #636363 !important;
}

.side-bar-tab {
    color:black !important;
    height:50px;
    border:none;
    background:none;
    margin:0px;
    padding-left:16px;
    padding-right:16px;
}

.side-bar-base {
    height:100%;
    width:100%;
    margin-right:0px;
    padding-right:0px;
    float:left;
    overflow-y:scroll;
    overflow-x:hidden;
    display:flex;
    flex-wrap:wrap
}

.side-bar-content-base {
    min-height:100%;
    width:inherit;
    margin: 0px;
    background-color: red;
}

.interactive-diagram-base {
    overflow:hidden;
    position:absolute;
    height:100%;
    width:100%;
}

.interactive-diagram-tab-container {
    width:99.5%;
    height:7%;
    float:left;
}



div.functional {
    background-color: #a3949d;
}

div.logical {
    background-color: #8fa2b5;
}
div.pattern {
    background-color: #acb598;
}

.interactive_diagram {
    height:93%;
    width:99.5%;
    float:left
}

.interactive_diagram_svg {
    height:100%;
    width:100%;
}

.button1:hover {
    background-color:#80e5ff;
}

.roundedRightCorner {
    border-top-right-radius: 10px;
}

.roundedTopCorners {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px; 
}

.button1{
    background-color:#0099ff;
    position:absolute;
    top:150px;
    height:100px;
    width:10px;
    padding:0;
    border:none;
}

.title {
    cursor: pointer;
    transition: color 0.3s;
}
.title:hover {
    color:#bcb084
}

/* Popup */
.popup {
    z-index : 100;
}

/* Info */
.info {
    position:absolute;
    left:1%;
    top:9%;
    width:40px;
    height:40px;
    border-radius:20px;
    padding-left:15.5px;
    padding-top:7px;
    color:gray;
    transition: background-color 0.5s;
    cursor: pointer;
    }   

.info:hover {
    background-color:lightcyan;
}

/* VIEW NAVIGATION */
.view-navigation.forward {
    right:2%;
    top:50%;
}

.view-navigation.back {
    left:1%;
    top:50%;
}   

.view-navigation .fa {
    font-size: 40px;
}

.view-navigation {
    position:absolute;
    color:black;
    opacity:0.1;
    transition: color 0.5s;
    cursor: pointer;
}

.view-navigation:hover {
    color:cornflowerblue;
}

/* Tooltip */

.tippy-tooltip {
    text-align: left;
}

/* General */

hr{
    opacity:0;
    margin: 0px;
} 

hr.thick{
    border-color:black;
    opacity: 0.7;
    border-width: 1px;
    margin-top: 15px; 
    margin-bottom: 15px; 
}

button {
    font-family: 'Verdana';
    font-size: 16px;
    letter-spacing: -1px;
}

h1, h2, h3, h4, h5, .sidebar p, .popup p{
    font-family: 'Verdana';
    font-weight: 400;
    letter-spacing: -1px;
}


h2 {
    font-size: 22px;
}


h3{
    color: #4c4c4c;
    font-size: 21px;
}

h4 {
    color: #4c4c4c;
    font-size: 20px;
}

h5 {
    color:#5c5c5c;
    font-size: 18px;
}

.side-bar p, .popup p {
    color: #808080;
    font-size: 16px;
}