.side-bar {
    background-color:#d6d6d6;
    width:37%;
    right:0;
    padding-right:0px
}

.side-bar-toggle {
    position:absolute;
    height:100%;
    width:5px;
    float:left;
}

.side-bar-toggle-button-wrapper {
    position:absolute;
    height:50%;
    width:10px;
    top:0;
    bottom:0;
    margin:auto;
}

.side-bar-tab {
    height:50px;
    border:none;
    background:none;
    margin:0px;
    padding-left:10px;
    padding-right:10px
}

.side-bar-base {
    height:100%;
    width:98%;
    margin-right:0px;
    padding-right:0px;
    float:left;
    overflow-y:scroll;
    overflow-x:hidden;
    display:flex;
    flex-wrap:wrap
}

.side-bar-content-base {
    min-height:100%;
    width:inherit;
    padding-left:16px;
    padding-right:16px;
    padding-top:16px;
    margin:0px
}

.interactive-diagram-base {
    overflow:hidden;
    position:absolute;
    height:100%;
    width:100%;
}

.interactive-diagram-tab-container {
    width:99.5%;
    height:7%;
    float:left;
}

.interactive_diagram {
    height:93%;
    width:99.5%;
    float:left
}

.interactive_diagram_svg {
    height:100%;
    width:100%;
}

.button1:hover {
    background-color:#80e5ff;

}

.roundedTopCorners {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #2d3b7f;
}

.button1{
    background-color:#0099ff;
    position:absolute;
    top:150px;
    height:100px;
    width:10px;
    padding:0;
    border:none;
}

.title {
    cursor: pointer;
    transition: color 0.3s;
}
.title:hover {
    color:#bcb084
}

/* VIEW SIDEBAR THEMES */
.logical h2{
    font-size:22px;
    color: #424a70;
}

.logical h3 {
    font-size:20px;
    color:#587199;
}

.logical h4 {
    color:#7999b5
}

.logical h5 {
    font-size:18px;
    color:#92a7b2;
}

.logical hr.thick{
    border-color: #587199;
}

.functional h2{
    font-size:22px;
    color: #7a4845;
}

.functional h3 {
    font-size:20px;
    color:#a35151;
}

.functional h4 {
    color:#c16464;
}

.functional h5 {
    font-size:18px;
    color:#d6a0a0;
}

.functional hr.thick{
    border-color: #a35151;
}

.pattern h2{
    font-size:22px;
    color: #64775b;
}

.pattern h3 {
    font-size:20px;
    color:#719157;
}

.pattern h4 {
    color:#879b6f
}

.pattern h5 {
    font-size:18px;
    color:#a2b596;
}

.pattern hr.thick{
    border-color: #719157;
}

/* Popup */
.popup {
    z-index : 100;
}

/* Info */
.info {
    position:absolute;
    left:1%;
    top:9%;
    width:40px;
    height:40px;
    border-radius:20px;
    padding-left:15.5px;
    padding-top:7px;
    color:gray;
    transition: background-color 0.5s;
    cursor: pointer;
    }   

.info:hover {
    background-color:lightcyan;
}

/* Tooltip */

.tippy-tooltip {
    text-align: left;
}

/* General */

hr{
    border-color:#a0c3d6;
    opacity:0;
    margin: 0px;
} 

hr.thick{
    border-width: 1px;
    opacity:1;
    margin-top: 15px; 
    margin-bottom: 15px; 
}

button {
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
}

h1,h2,h3,h4,h5 {
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
}

p{
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
}