.clusters rect {
  /* fill: #9741b1; */
  stroke: lightgrey;
  stroke-dasharray: 10,10;
  stroke-width: 3px;
  transition: stroke-width 1s;
  transition: opacity 0.3s;
  pointer-events: none;
}

.clusters text {
 font-size: 24px;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 opacity:0.6;
 cursor:pointer;
 transition: fill 0.1s;
 transition: opacity 0.3s;
}

.unselected rect {
  stroke-dasharray: 10,10;
}

.selected rect {
  stroke-dasharray: 0;
  stroke-width: 10px
}

.unselected text {
  font-weight: normal;
}

.selected text {
  opacity: 1;
}

text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

.node text {
  pointer-events:none;
}

.node rect {
  stroke:#274984;
  fill: #fff;
  stroke-width: 1px;
  cursor: pointer;
  fill-opacity: 1
}

.edgePath path {
  fill:none; 
  stroke: #929db5; 
  stroke-width: 3px; 
}
