<!doctype html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/w3.css">
    <link rel="stylesheet" href="/static/css/ClusteringGraphStyle.css">
    <link rel="stylesheet" href="/static/css/explanationPageStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <head>
    {% block head %}
    <script src="/static/libraries/d3.min.js"></script>
    <script src="/static/libraries/jquery-3.3.1.min.js"></script>
    <script src="/static/libraries/dagre-d3.js"></script>
    <script src="/static/libraries/tippy-all.js"></script>
    <script src='/static/libraries/tinycolor.js'></script>
    <script src="/static/explanationData.js"></script>
    <script src='/static/explanationPageLogic.js'></script>
    <script src='/static/baseExplanationView.js'></script>
    <script src="/{{diagram_path}}"></script>
    {% endblock head %}
  </head>
  <body>
    <div id="content">
      <div>
        <script>tabs = []</script>
        {% for view in entityData %}
          <script>
          tabs.push("{{view}}")
          initializeTabs(tabs)
          </script>
        {% endfor %}
        <!-- Interactive diagram -->
        <div class='interactive-diagram-base'>
            <div class='interactive-diagram-tab-container'></div>

          <div class='w3-border info'><b>i</b>
            <script src='/static/info.js'></script>
          </div>

          <div class='view-navigation back'><i onclick='nextTab()' class="fa fa-chevron-circle-left"></i>
          </div>
          
          <div class='view-navigation forward'><i onclick='previousTab()' class="fa fa-chevron-circle-right"></i>
            <script src=''></script>
          </div>


          {% for view in entityData %}
            <div class='{{view}} interactive_diagram w3-white w3-border' style='display:block;'>
              <svg class='{{view}} interactive_diagram_svg' style='background-color:{{entityData[view].background}};user-select: none;'></svg>
              <script>
                structure = JSON.parse({{entityData[view].entity_structure | tojson | safe}})
                buildDiagram(structure, '{{view}}')
              </script>
            </div>
          {% endfor %}
        </div>

        <!-- Sidebar -->
        <div id='explanationSidebar'class="w3-sidebar w3-bar-block side-bar"> 
          <div class='w3-border-left w3-border-indigo side-bar-toggle'>
            <div class='side-bar-toggle-button-wrapper'>
              <button class="w3-large button1" onclick="sidebarToggle('explanationSidebar')"/>
            </div>
          </div>
          <div style='height:1px;width:1%;float:left'></div>
          <div class='side-bar-base'>
 
              <!-- Descriptions of significant entities -->
              {% block entity_description %}
              {% endblock entity_description %}

          </div>
        </div>
      </div>
    </div>
  </body>
</html>