<!doctype html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/w3.css">
    <link rel="stylesheet" href="/static/css/ClusteringGraphStyle.css">
    <link rel="stylesheet" href="/static/css/explanationPageStyle.css">
    <link rel="stylesheet" href="/static/css/popup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Play|Poiret+One|Rajdhani" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arapey|Domine|Nanum+Myeongjo|Philosopher" rel="stylesheet">

  <head>
    {% block head %}
    <script src="/static/libraries/d3.min.js"></script>
    <script src="/static/libraries/jquery-3.3.1.min.js"></script>
    <script src="/static/libraries/dagre-d3.js"></script>
    <script src="/static/libraries/tippy-all.js"></script>
    <script src='/static/libraries/tinycolor.js'></script>
    <script src="/static/explanationData.js"></script>
    <script src='/static/explanationPageLogic.js'></script>
    <script src='/static/baseExplanationView.js'></script>
    <script src="/{{diagram_path}}"></script>
    {% endblock head %}
  </head>
  <body>
    <div id="content">
      <div>
        <script>tabs = []</script>
        {% for view in entityData %}
          <script>
          tabs.push("{{view}}")
          initializeTabs(tabs)
          </script>
        {% endfor %}
        <!-- Interactive diagram -->
        <div class='interactive-diagram-base'>
            <div class='interactive-diagram-tab-container'>
                <div class='w3-dropdown-click' style='height:100%;width:50px;'>
                    <button class='menu-button w3-button' onclick='toggleMenu(this, "menu-button", "main-menu-item")' style='height:100%;width:100%;color:white'><i class='fa fa-bars' aria-hidden='true'></i></button>
                    <div class='main-menu-item w3-dropdown-content w3-bar-block w3-border' style='width:200px;'>
                        <a href="#" class="w3-bar-item w3-button">Home</a>
                        <a href="#" class="w3-bar-item w3-button">Settings</a>
                    </div>
                </div>
                <div class='w3-dropdown-click test' style='height:100%;width:50px;'>
                  <button class='menu-button w3-button' onclick='toggleMenu(this, "menu-button", "main-menu-item")' style='height:100%;width:100%;color:white'><i class='fa fa-search' aria-hidden='true'></i></button>
                  <div class='main-menu-item w3-dropdown-content w3-bar-block w3-border' style='padding-bottom:20px;'>
                    <div class='w3-container w3-margin' style='width:700px'>
                      <h4>Select question</h4>
                      <select id='menu-search-question-select' style='height:50px;width:650px;'>
                        <option value="q1">What is the role of this feature?</option>
                        <option value="q2">How is this feature mapped to its implementation?</option>
                        <option value="q3">What is the behavior of this feature?</option>
                        <option value="q4">How is this what is the rationale behind the choice of this architecture?</option>
                      </select>
                      <div class='w3-border' style='float:left;margin-top:16px;display:inline-block'>
                        <input id='menu-search-input' class='w3-input' style='border:none;float:left;width:540px;height:50px;' type='text' placeholder='Name of entity...'>                            
                        <button class='w3-button' onclick='performSearch("menu-search-question-select", "menu-search-input")' style='border:none;width:50px;height:50px;float:left;background-color:gray'>
                          <i class="fa fa-search" style='color:white;font-size:25px;' aria-hidden="true"></i> 
                        </button>
                      </div>
                      <button class='w3-button w3-border' style='margin-left:8px; margin-top:16px; float:left;border:none;width:50px;height:50px;float:left;background-color:white;'>
                          <i class="fa fa-plus" style='color:black;font-size:25px;' aria-hidden="true"></i> 
                      </button>
                    </div>
                  </div>
                </div>
                <div class='w3-dropdown-click' style='height:100%;width:50px;'>
                    <button class='menu-button w3-button' onclick='toggleMenu(this, "menu-button", "main-menu-item")' style='height:100%;width:100%;color:white'><i class='fa fa-history' aria-hidden='true'></i></button>
                    <div id='history_menu' class='main-menu-item w3-dropdown-content w3-bar-block w3-border' style='width:300px;'>
                        <a href="#" class="w3-bar-item w3-button">2018-05-14 15:56 Some action</a>
                        <a href="#" class="w3-bar-item w3-button">2018-05-14 15:54 Some action</a>
                        <a href="#" class="w3-bar-item w3-button">2018-05-14 15:52 Some action</a>
                    </div>
                </div>
            </div>

          <div class='w3-border info'><b>i</b>
            <script src='/static/info.js'></script>
          </div>

          <div class='view-navigation back' style='display:none'><i onclick='previousTab()' class="fa fa-chevron-circle-left"></i>
          </div>
          
          <div class='view-navigation forward'><i onclick='nextTab()' class="fa fa-chevron-circle-right"></i>
            <script src=''></script>
          </div>


          {% for view in entityData %}
            <div class='{{view}} interactive_diagram w3-white w3-border-top w3-border-blue-gray' style='display:block;'>
              <svg class='{{view}} interactive_diagram_svg' style='user-select: none;'></svg>
              <script>
                structure = JSON.parse({{entityData[view].entity_structure | tojson | safe}})
                buildDiagram(structure, '{{view}}')
              </script>
            </div>
          {% endfor %}
        </div>

        <!-- Sidebar -->
        <div id='explanationSidebar'class="w3-sidebar w3-bar-block side-bar"> 
          <div class='w3-border-left w3-border-blue-gray side-bar-toggle'>
            <div class='side-bar-toggle-button-wrapper'>
              <button class="w3-large button1" onclick="sidebarToggle('explanationSidebar')"/>
            </div>
          </div>
          <div class='side-bar-base'>
 
              <!-- Descriptions of significant entities -->
              {% block entity_description %}
              {% endblock entity_description %}

          </div>
        </div>
      </div>
    </div>
  </body>
</html>