{% extends "baseExplanationTemplate.html" %}

{%block entity_description %}

<!-- Tabs -->
<div>
  {% for view in entityData %}
    {% if loop.index == 1 %}
      <button class='{{view}} roundedRightCorner side-bar-tab' style='padding-left:30px' onclick='toggleTab("{{view}}")'>{{ entityData[view].tab_name }}</button>    
    {% else %}
      <button class='{{view}} roundedTopCorners side-bar-tab' onclick='toggleTab("{{view}}")'>{{ entityData[view].tab_name }}</button>    
    {% endif %}
  {% endfor %} 
</div>

{% for view in entityData %}
  <div class='{{view}} w3-light-gray side-bar-content-base' style='display:none'>
    <!-- Question -->
    <div class='w3-padding-top w3-padding-bottom side-bar-question-base'>
      <div>
        <h2>{{entityData[view].explanation.question.sub}}</h2>
        {% if entityData[view].explanation.question.original %}
          <!-- <h4 style='color:#848484;'>{{entityData[view].explanation.question.original}}</h4> -->
        {% endif %}
      </div>
    </div>
    <div class='side-bar-text-base'>
      <!-- Summary -->
      <h3 class="w3-bar-item title {{view}}summary" onclick='toggleVisiblityOfDescription("{{view}}summary")' style='padding-left:0px;'>Overview&emsp;-</h3>
      <div class='{{view}}summary' style='max-height:10000px;'>
      {{entityData[view].explanation.summaryText|safe}}
      </div>
      <hr class='thick'>
      
      {%- for section in entityData[view].explanation.sections recursive %}
      {%- if section in entityData[view].explanation.sections %}
        <h3 class='{{view + section.id}} w3-bar-item title' onclick='toggleVisiblityOfDescription("{{view + section.id}}")' style='padding-left:0'>{{section.title}}&emsp;+</h3>
        <div class='{{view + section.id}}' style='max-height:0px;display:none;opacity:0'>
      {%- else %}
        <h4 class='{{view + section.id}} w3-bar-item title' onclick='toggleVisiblityOfDescription("{{view + section.id}}")' style='padding-left:0'>{{section.title}}&emsp;+</h4>
        <div class='{{view + section.id}}' style='max-height:0px;display:none;opacity:0'>
      {%- endif %}
  
      {% if section.summary %}
        <p>{{section.summary|safe}}</p>
      {% endif %}
  
      {% for data in section.textContent %}
        {% if data.0 %}
          <h5>{{data.0}}</h5>
        {% endif %}
        {% if data.1 %}
          <p>{{data.1|safe}}</p>
        {% endif %}
      {% endfor %}
  
      {% for diagram in section.diagrams %}
        {% if diagram %}
        <div class='w3-padding w3-border w3-white' style='width:100%; text-align:center;'>
          <img class='w3-margin-bottom' src='/{{side_bar_diagram_file_paths[diagram.uri]}}' style='width:100%'></p>
          <p>{{diagram.caption}}</p>
        </div>  
  
        {% endif %}
      {% endfor %}
      
      {%- if section.children%}
        {{ loop(section.children) }}
      {%- endif %}
      
      </div>
  
      {%- if section in entityData[view].explanation.sections %}
        <hr class='thick'>  
      {%- else %}
        <hr>      
      {%- endif %}
    {%- endfor %}

    </div>

  </div>
{% endfor %} 
<script>
    toggleTab("functional")
    setFontColors()
</script>


{%endblock entity_description %}