/* Clusters */
.clusters rect {
  stroke: lightgrey;
  stroke-dasharray: 20,20;
  stroke-width: 3px;
  transition: stroke-width 1s;
  transition: opacity 0.3s;
  pointer-events: none;
  
}


.dummy.node rect{
  stroke: gray;
  stroke-dasharray: 20,20;
  stroke-width: 3px;
  transition: stroke-width 1s;
  transition: opacity 0.3s;
  pointer-events: none;
}

.dummy.node text{
  font-size: 35px;
  opacity: 0.6;
  cursor:pointer;
  transition: fill 0.1s;
  transition: opacity 0.3s;
}

.clusters text {
 font-size: 35px;
 opacity: 0.6;
 cursor:pointer;
 transition: fill 0.1s;
 transition: opacity 0.3s;
}

/* Nodes */

.unselected rect {
  stroke-dasharray: 10,10;
}

.selected rect {
  stroke-dasharray: 0;
  stroke-width: 10px
}

.unselected text {
  font-weight: normal;
}

.selected text {
  opacity: 1;
}

.node text {
  pointer-events:none;
}

.node rect {
  stroke:#274984;
  fill: #fff;
  stroke-width: 1px;
  cursor: pointer;
  fill-opacity: 1;
}

/* Edges */
.edgePath path {
  fill:none; 
  stroke: #929db5; 
  stroke-width: 3px; 
}

/* General */
text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 25px;
}

/* Dropdown */
.drop-down_container{
  stroke: #424242;
  fill: #424242;
}

.drop-down_item {
  stroke: none;
  fill: gray;
  opacity: 0;
}

.drop-down_item_text {
  font-size: 25px;
  fill: white;
  stroke: none;
  opacity: 0;
}

.drop-down_arrow {
  fill:#2c4c66;
  stroke-width:1px;
  stroke:#2c4c66;
  pointer-events:none;
}
