html, body {
  font-family: Arial, sans-serif;
}

.title {
  font-size: 12px;
}
.canvas {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.canvas .wrapper.outer > .background {
  fill: #000000;
}
.canvas .wrapper.inner > .background {
  fill: #CCCCCC;
  cursor: move;
}
.canvas .background {
  fill: #F6F6F6;
  stroke: #333333;
  cursor: move;
}
.canvas .panCanvas {
  cursor: move;
}

.canvas .minimap .panCanvas .background {
  stroke-width: 10px;
}

.canvas .minimap .frame .background {
  stroke: #111111;
  stroke-width: 4px;
  fill-opacity: 0.4;
  fill: #000000;
  fill: url(#minimapGradient_qwpyza);
  filter: url(#minimapDropShadow_qwpyza);
  cursor: move;
}